html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.mat-focused, .mat-form-field-label, .mat-input-element {
    color: white !important;
    caret-color: white !important;
}
