.container {
  min-height: 100vh;
  background: url(../../../assets/pokeball.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    .center {
      display: flex;
      justify-content: center;
    }
  }
}
