<div class="container">
  <h1 class="title center">Pokedex</h1>
  <div class="content">
    <div class="download center" *ngIf="!isElectron">
      <a href="https://recess5978919754.blob.core.windows.net/pokedex/pokedex-installer.exe" class="windows">
        <img src="assets/get_windows.png" alt="English windows badge"/>
      </a>
      <a href="https://recess5978919754.blob.core.windows.net/pokedex/pokedex-installer.exe" class="apple">
        <img src="assets/get_apple.svg" alt="English apple badge" />
      </a>
    </div>
    <div class="search">
        <button mat-raised-button (click)="refresh()" mat-icon-button>
          <mat-icon>refresh</mat-icon>
        </button>
        <mat-form-field class="w-75">
          <input matInput type="text" placeholder="Search pokemon by name" [(ngModel)]="search" (change)="onSearchChange(search)"/>
          <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
              <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button (click)="save()" mat-icon-button download="pokemon.json">
          <mat-icon>save</mat-icon>
        </button>
        <input type="file" #file style="display: none" (change)="onFileUploaded()" />
        <button type="file" mat-raised-button (click)="upload()" mat-icon-button>
          <mat-icon>cloud_upload</mat-icon>
        </button>
    </div>
    <div class="spinner-container center" *ngIf="loading">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
    <div class="pokemon-container" layout="row" layout-wrap *ngIf="!loading">
        <mat-card class="pokemon" *ngFor="let pokemon of pokemons" (click)="pokemon.flipped = !pokemon.flipped" [class.flip]="pokemon.flipped">
            <mat-card-title>#{{pokemon.id}} {{pokemon.name}}</mat-card-title>
            <mat-card-content class="center">
              <img [src]="pokemon.safeUrl" [alt]="pokemon.name" *ngIf="!pokemon.flipped"/>
              <div class="stats" *ngIf="pokemon.flipped">
                  <p>Weight: {{ pokemon.weight }}</p>
                  <p>Height: {{ pokemon.height }}</p>
                  <div class="stat" *ngFor="let stat of pokemon.stats">
                    <p class="name">{{ stat.stat.name }}</p>
                    <p>Base Stat: {{ stat.base_stat }}</p>
                    <p>Effort: {{ stat.effort }}</p>
                  </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
  </div>
</div>
